doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Yesuf Fenta's - portfolio

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/images/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.5.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Fira+Code', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top(role='navigation')
        .container
            a.navbar-brand(href='#page-top') Yesuf Fenta
            button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                | Menu 
                i.fas.fa-bars
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ms-auto
                    li.nav-item.mx-0.mx-lg-1
                        a.nav-link.py-3.px-0.px-lg-3.rounded(href='#project') Projects
                    li.nav-item.mx-0.mx-lg-1
                        a.nav-link.py-3.px-0.px-lg-3.rounded(href='#resume') Resume
                    li.nav-item.mx-0.mx-lg-1
                        a.nav-link.py-3.px-0.px-lg-3.rounded(href='#about') About
                    li.nav-item.mx-0.mx-lg-1
                        a.nav-link.py-3.px-0.px-lg-3.rounded(href='#contact') Contact
        // Hero Section
header.hero.bg-primary.text-white.text-center
    .container.d-flex.align-items-center.flex-column
        // Hero Avatar Image
        img.hero-avatar.mb-5(src='assets/images/avatar.svg', alt='Avatar')
        // Hero Heading
        h1.hero-heading.text-uppercase.mb-0 Yesuf Fenta
        // Icon Divider
        .divider-custom.divider-light
            .divider-custom-line
            .divider-custom-icon
                i.fas.fa-star
            .divider-custom-line
        // Hero Subheading
        p.hero-subheading.font-weight-light.mb-0

// Project Section
section#project.page-section.project
    .container
        // Project Section Heading
        h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Projects
        // Icon Divider
        .divider-custom
            .divider-custom-line
            .divider-custom-icon
                i.fas.fa-star
            .divider-custom-line
        // Project Grid Items
.row.justify-content-center
    // Project Item 1
    .col-md-6.col-lg-4.mb-5
        .project-item.mx-auto(data-bs-toggle='modal', data-bs-target='#projectModal1')
            .project-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                .project-item-caption-content.text-center.text-white
                    h4 Bookstore-CMS
                    ul.skill-list
                        li React
                        li Redux
                        li JavaScript
                        li REST API
                    button.btn.btn-primary See Project
            img.img-fluid(src='assets/images/projects/bookstore.jpeg', alt='Project 1')
    // Project Item 2
    .col-md-6.col-lg-4.mb-5
        .project-item.mx-auto(data-bs-toggle='modal', data-bs-target='#projectModal2')
            .project-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                .project-item-caption-content.text-center.text-white
                    h4 MEALS 
                    ul.skill-list
                        li Javascript
                        li Webpack
                        li REST API
                    button.btn.btn-primary See Project
            img.img-fluid(src='assets/images/projects/mealsapp.png', alt='Project 2')
    // Project Item 3
    .col-md-6.col-lg-4.mb-5
        .project-item.mx-auto(data-bs-toggle='modal', data-bs-target='#projectModal3')
            .project-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                .project-item-caption-content.text-center.text-white
                    h4 Space Traveller's Hub
                    ul.skill-list
                        li Javascript
                        li React
                        li REST API
                    button.btn.btn-primary See Project
            img.img-fluid(src='assets/images/projects/spacetravelershub.png', alt='Project 3')
    // Project Item 4
    .col-md-6.col-lg-4.mb-5.mb-lg-0
        .project-item.mx-auto(data-bs-toggle='modal', data-bs-target='#projectModal4')
            .project-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                .project-item-caption-content.text-center.text-white
                    h4 Math Magician
                    ul.skill-list
                        li React
                        li Redux
                        li JavaScript
                        li REST API
                    button.btn.btn-primary See Project
            img.img-fluid(src='assets/images/projects/mathmagicians.png', alt='Project 4')
    // Project Item 5
    .col-md-6.col-lg-4.mb-5.mb-md-0
        .project-item.mx-auto(data-bs-toggle='modal', data-bs-target='#projectModal5')
            .project-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                .project-item-caption-content.text-center.text-white
                    h4 Africa Day Concert
                    ul.skill-list
                        li HTML:5 
                        li CSS:3
                        li JavaScript
                    button.btn.btn-primary See Project
            img.img-fluid(src='assets/images/projects/africadayconcert.png', alt='Project 5')
    // Project Item 6
    .col-md-6.col-lg-4
        .project-item.mx-auto(data-bs-toggle='modal', data-bs-target='#projectModal6')
            .project-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                .project-item-caption-content.text-center.text-white
                    h4 Doctor Appointments 
                    ul.skill-list
                        li React
                        li Ruby
                        li PostgreSQL
                        li REST API
                    button.btn.btn-primary See Project
            img.img-fluid(src='assets/images/projects/doctorapp.png', alt='Project 6')

    // Resume Section
section#resume.page-section.resume
    // Page Content
    .container.px-5.my-5
        .text-center.mb-5
            h1.display-5.fw-bolder.mb-0
                span.text-gradient.d-inline Resume
        .row.gx-5.justify-content-center

            .col-lg-11.col-xl-9.col-xxl-8

                // Experience Section
                section
                    .d-flex.align-items-center.justify-content-between.mb-4
                        h2.text-primary.fw-bolder.mb-0 Experience
                        // Download resume button
                        // Note: Set the link href target to a PDF file within your project
                        a.btn.btn-primary.px-4.py-3(href='https://drive.google.com/file/d/1CRLQ_GaIrA4CnMARbbLkj3KQHerPKxOM/view?usp=drive_link', target="_blank")
                            i.fas.fa-download.me-2
                            | Download Resume

                    // Experience Card 1
                    .card.shadow.border-0.rounded-4.mb-5(data-aos="fade-up")
                        .card-body.p-5
                            .row.align-items-center.gx-5
                                .col.text-center.text-lg-start.mb-4.mb-lg-0
                                    .bg-light.p-4.rounded-4
                                        .text-primary.fw-bolder.mb-2 Feb 2023 - Present
                                        .small.fw-bolder Web Developer
                                        .small.text-muted Microverse, San Francisco, California, United States, Remote
                                .col-lg-8
                                    div Mentored 8+ junior web developers, providing technical support through HTML, CSS, JS, React, Ruby, Ruby on Rails with PostgreSQL and Full-stack Web Development code reviews in 6 modules. Leveled up my teamwork at Microverse with 10+ group projects and 15+ individual projects.

                    // Experience Card 2
                    .card.shadow.border-0.rounded-4.mb-5(data-aos="fade-up")
                        .card-body.p-5
                            .row.align-items-center.gx-5
                                .col.text-center.text-lg-start.mb-4.mb-lg-0
                                    .bg-light.p-4.rounded-4
                                        .text-primary.fw-bolder.mb-2 Oct 2020 - Present
                                        .small.fw-bolder Software Programmer
                                        .small.text-muted Ethiopian Federal Police, Addis Ababa, Ethiopia, On-site
                                .col-lg-8
                                    div Creative software engineer with 3+ years of experience and increased web development satisfaction by 85%. Worked on projects for the Ethiopian Federal Police Material Management System & Firearm Management Sys. Mastered interpersonal, teamwork, and communication skills, React, Angular, and Asp.Net Core Web API. Empowered the Ethiopian Federal Police Internship program via Volunteer Advising for junior developers.
                
                // Education Section
                section
                    h2.text-secondary.fw-bolder.mb-4 Education

                    // Education Card 1
                    .card.shadow.border-0.rounded-4.mb-5(data-aos="fade-up")
                        .card-body.p-5
                            .row.align-items-center.gx-5
                                .col.text-center.text-lg-start.mb-4.mb-lg-0
                                    .bg-light.p-4.rounded-4
                                        .text-secondary.fw-bolder.mb-2 Feb 2023 - Present
                                        .mb-2
                                            .small.fw-bolder Microverse
                                            .small.text-muted Remote Full Stack Web Development Program
                                        .fst-italic
                                            .small.text-muted Mastering algorithms, data structures, and full-stack development
                                            .small.text-muted Developing skills in remote pair programming
                                .col-lg-8
                                    div Mentored junior developers, developed 36+ projects with Ruby, Rails, JavaScript, React, and Redux. Spent 1300+ hours mastering algorithms, data structures, and full-stack development. Developed skills in remote pair-programming, industry-standard Gitflow, Kanban methods, debugging, offering constructive feedback in code reviews to enhance code quality, coding with best practices, and daily standups to communicate and collaborate with international remote developers. Earned an international credential certificate completion from the Microverse program.

                    // Education Card 2
                    .card.shadow.border-0.rounded-4.mb-5(data-aos="fade-up")
                        .card-body.p-5
                            .row.align-items-center.gx-5
                                .col.text-center.text-lg-start.mb-4.mb-lg-0
                                    .bg-light.p-4.rounded-4
                                        .text-secondary.fw-bolder.mb-2 Sep 2012 - July 2016
                                        .mb-2
                                            .small.fw-bolder Adama Science and Technology University
                                            .small.text-muted BSc, Software Engineering
                                        .fst-italic
                                            .small.text-muted Built a multipurpose train reservation system
                                            .small.text-muted Awards and honors: Adama Science and Technology ICT. Introduction to ACM ICPC
                                .col-lg-8
                                    div Full-Stack Development, Innovate Knowledge. Science and Technology University. Built a multipurpose train reservation system. Awards and honors: Adama Science and Technology ICT. Introduction to ACM ICPC.
                 
                    // Divider
                .pb-5

                // Skills Section
                section
                    // Skillset Card
                    .card.shadow.border-0.rounded-4.mb-5(data-aos="fade-up")
                        .card-body.p-5
                            // Professional skills list
                            .mb-5
                                .d-flex.align-items-center.mb-4
                                    .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                        i.fas.fa-tools
                                    h3.fw-bolder.mb-0
                                        span.text-gradient.d-inline Professional Skills
                                .row-cols-3.mb-4
                                    .col.mb-4.mb-md-0
                                        .d-flex.flex-column.align-items-start.bg-light.rounded-4.p-3.h-100
                                            h5.mb-2 Front-End:
                                            div.pl-3
                                                a(href="https://reactjs.org", target="_blank", class="mb-3 d-flex align-items-center react")
                                                    i.fab.fa-react.fa-3x.mr-2
                                                    span React
                                                a(href="https://redux.js.org", target="_blank", class="mb-3 d-flex align-items-center redux")
                                                    i.fas.fa-boxes.fa-3x.mr-2
                                                    span Redux
                                                a(href="https://angular.io", target="_blank", class="mb-3 d-flex align-items-center angular")
                                                    i.fab.fa-angular.fa-3x.mr-2
                                                    span Angular
                                                a(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript", target="_blank", class="mb-3 d-flex align-items-center javascript")
                                                    i.fab.fa-js.fa-3x.mr-2
                                                    span JavaScript
                                                a(href="https://www.typescriptlang.org", target="_blank", class="mb-3 d-flex align-items-center typescript")
                                                    i.fab.fa-js-square.fa-3x.mr-2
                                                    span TypeScript
                                                a(href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5", target="_blank", class="mb-3 d-flex align-items-center html5")
                                                    i.fab.fa-html5.fa-3x.mr-2
                                                    span HTML5
                                                a(href="https://developer.mozilla.org/en-US/docs/Web/CSS", target="_blank", class="mb-3 d-flex align-items-center css3")
                                                    i.fab.fa-css3-alt.fa-3x.mr-2
                                                    span CSS3
                                                a(href="https://getbootstrap.com/", target="_blank", class="mb-3 d-flex align-items-center bootstrap")
                                                    i.fab.fa-bootstrap.fa-3x.mr-2
                                                    span Bootstrap
                                    .col.mb-4.mb-md-0
                                        .d-flex.flex-column.align-items-start.bg-light.rounded-4.p-3.h-100
                                            h5.mb-2 Back-End:
                                            div.pl-3
                                                a(href="https://dotnet.microsoft.com/apps/aspnet/apis", target="_blank", class="mb-3 d-flex align-items-center aspnet")
                                                    i.fab.fa-microsoft.fa-3x.mr-2
                                                    span Asp.Net Core Web API
                                                a(href="https://www.ruby-lang.org/en/", target="_blank", class="mb-3 d-flex align-items-center ruby")
                                                    i.fas.fa-gem.fa-3x.mr-2
                                                    span Ruby
                                                a(href="https://spring.io/projects/spring-boot", target="_blank", class="mb-3 d-flex align-items-center springboot")
                                                    i.fab.fa-java.fa-3x.mr-2
                                                    span Spring Boot
                                                a(href="https://rubyonrails.org/", target="_blank", class="mb-3 d-flex align-items-center rails")
                                                    img(src="https://img.shields.io/badge/Ruby%20on%20Rails-CC0000.svg?style=for-the-badge&logo=ruby-on-rails&logoColor=white")
                                                a(href="https://www.postgresql.org/", target="_blank", class="mb-3 d-flex align-items-center postgresql")
                                                    img(src="https://img.shields.io/badge/PostgreSQL-336791.svg?style=for-the-badge&logo=postgresql&logoColor=white")
                                                a(href="https://www.microsoft.com/sql-server", target="_blank", class="mb-2 d-flex align-items-center mssql")
                                                    img(src="https://img.shields.io/badge/MSSQL%20Server-CC2927.svg?style=for-the-badge&logo=microsoft-sql-server&logoColor=white")
                                                a(href="https://github.com/rswag/rswag", target="_blank", class="mb-2 d-flex align-items-center rswag")
                                                    img(src="https://img.shields.io/badge/Rswag-000000.svg?style=for-the-badge&logo=github&logoColor=white")
                                                a(href="https://github.com/CanCanCommunity/cancancan", target="_blank", class="mb-3 d-flex align-items-center cancancan")
                                                    img(src="https://img.shields.io/badge/CanCanCan-000000.svg?style=for-the-badge&logo=github&logoColor=white")    
                                                a(href="https://nodejs.org/", target="_blank", class="mb-3 d-flex align-items-center nodejs")
                                                    i.fab.fa-node-js.fa-3x.mr-2
                                                    span NodeJS                                    
                                    .col.mb-4.mb-md-0
                                        .d-flex.flex-column.align-items-start.bg-light.rounded-4.p-3.h-100
                                            h5.mb-2 Tools & Methods:
                                            div.pl-3
                                                ul(class="no-bullets")
                                                    a(href="https://git-scm.com/", target="_blank", class="mb-3 d-flex align-items-center git")
                                                        i.fab.fa-git.fa-3x.mr-2
                                                        span Git
                                                    a(href="https://github.com/", target="_blank", class="mb-3 d-flex align-items-center github")
                                                        i.fab.fa-github.fa-3x.mr-2
                                                        span GitHub
                                                    a(href="https://gitlab.com/", target="_blank", class="mb-3 d-flex align-items-center gitlab")
                                                        i.fab.fa-gitlab.fa-3x.mr-2
                                                        span GitLab
                                                    a(href="https://jwt.io/", target="_blank", class="mb-3 d-flex align-items-center jwt")
                                                        i.fas.fa-key.fa-3x.mr-2
                                                        span JWT
                                                    li(class="git-flow") Git-flow
                                                    li(class="restful-api") RESTFul API
                                                    li(class="unit-feature-testing") Unit and Feature Testing
                                                    li(class="agile") Agile
                                                    li(class="tdd") TDD
                                                    li(class="figma") Figma
                                                    li(class="tailwind-css") Tailwind CSS
                                                    li(class="kanban-board") Kanban board

                            // Languages list
                            .mb-0
                                .d-flex.align-items-center.mb-4
                                    .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                        i.fas.fa-code
                                    h3.fw-bolder.mb-0
                                        span.text-gradient.d-inline Languages
                                .row.row-cols-1.row-cols-md-3.mb-4
                                    .col.mb-4.mb-md-0
                                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 
                                           a.javascript.mb-3.d-flex.align-items-center(href="https://developer.mozilla.org/en-US/docs/Web/JavaScript", target="_blank")
                                                img(src="https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black")
                                    .col.mb-4.mb-md-0
                                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 
                                            a.csharp.mb-3.d-flex.align-items-center(href="https://docs.microsoft.com/en-us/dotnet/csharp/", target="_blank")
                                                img(src="https://img.shields.io/badge/C%23-239120?style=for-the-badge&logo=c-sharp&logoColor=white")
                                    .col
                                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 
                                            a.d-flex.align-items-center.bg-light.rounded-4.p-3.h-100(href="https://www.ruby-lang.org/en/", target="_blank")
                                                img(src="https://img.shields.io/badge/Ruby-CC342D.svg?style=for-the-badge&logo=ruby&logoColor=white")
                                .row.row-cols-1.row-cols-md-3
                                    .col.mb-4.mb-md-0
                                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 
                                            a.java.mb-3.d-flex.align-items-center(href="https://www.java.com/", target="_blank")
                                                img(src="https://img.shields.io/badge/Java-007396?style=for-the-badge&logo=java&logoColor=white")
                                    .col.mb-4.mb-md-0
                                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 
                                            a.d-flex.align-items-center.bg-light.rounded-4.p-3.h-100(href="https://www.cplusplus.com/", target="_blank")
                                                img(src="https://img.shields.io/badge/C++-00599C.svg?style=for-the-badge&logo=c%2B%2B&logoColor=white")
                                    .col
                                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 
                                            a.d-flex.align-items-center.bg-light.rounded-4.p-3.h-100(href="https://www.typescriptlang.org", target="_blank")
                                                img(src="https://img.shields.io/badge/TypeScript-007ACC.svg?style=for-the-badge&logo=typescript&logoColor=white")
            // About Section
section#about.page-section.bg-primary.text-white.mb-0
    .container
        // About Section Heading
        h2.page-section-heading.text-center.text-uppercase.text-white About Me
        // Icon Divider
        .divider-custom.divider-light
            .divider-custom-line
            .divider-custom-icon
                i.fas.fa-star
            .divider-custom-line
        // About Section Content
        .row
            .col-lg-4.ms-auto
                p.lead
                    | I am a passionate and dedicated Full Stack Developer with experience in various technologies. I love solving complex problems and turning ideas into elegant solutions.
            .col-lg-4.me-auto
                p.lead
                    | My portfolio showcases a range of projects I've worked on, demonstrating my ability to handle both front-end and back-end tasks. I'm always eager to learn and take on new challenges!
        // About Section Button
        .text-center.mt-4
            a.btn.btn-xl.btn-outline-light(href='#project')
                i.fas.fa-eye.me-2
                | View My Work

                // Contact Section
section#contact.page-section
    .container
        // Contact Section Heading
        h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Get In Touch
        // Icon Divider
        .divider-custom
            .divider-custom-line
            .divider-custom-icon
                i.fas.fa-envelope
            .divider-custom-line
        // Contact Section Form
        .row.justify-content-center
            .col-lg-8.col-xl-7
                form#contactForm(method='post', action='https://formspree.io/f/mkndqzww')
                    // Name input
                    .form-floating.mb-3
                        input#name.form-control(
                            type='text',
                            placeholder='Your Name',
                            name='name',
                            required
                        )
                        label(for='name') Name
                    // Email address input
                    .form-floating.mb-3
                        input#email.form-control(
                            type='email',
                            placeholder='Your Email',
                            name='email',
                            required
                        )
                        label(for='email') Email
                    // Message input
                    .form-floating.mb-3
                        textarea#message.form-control(
                            type='text',
                            placeholder='Your Message',
                            style='height: 10rem;',
                            name='message',
                            required
                        )
                        label(for='message') Message
                    // Submit Button
                    button#submitButton.btn.btn-primary.btn-xl(type='submit') Send Message                     
        // Footer
footer.footer.text-center
    .container
        .row
            // Footer Location
            .col-lg-4.mb-5.mb-lg-0
                h4.text-uppercase.mb-4 Location
                p.lead.mb-0
                    | Bole Woreda 06
                    br
                    | Addis Ababa, Ethiopia
            // Footer Social Icons
            .col-lg-4.mb-5.mb-lg-0
                h4.text-uppercase.mb-4 Connect with Me
                a.btn.btn-outline-light.btn-social.mx-1(href='https://www.linkedin.com/in/yusufyusie', target='_blank')
                    i.fab.fa-fw.fa-linkedin-in
                a.btn.btn-outline-light.btn-social.mx-1(href='https://github.com/yusufyusie', target='_blank')
                    i.fab.fa-fw.fa-github
                a.btn.btn-outline-light.btn-social.mx-1(href='https://twitter.com/yusufyusiee', target='_blank')
                    i.fab.fa-fw.fa-twitter
                a.btn.btn-outline-light.btn-social.mx-1(href='https://angel.co/u/yusufyusie', target='_blank')
                    i.fab.fa-fw.fa-angellist
                a.btn.btn-outline-light.btn-social.mx-1(href='https://www.instagram.com/yusufyusiee', target='_blank')
                    i.fab.fa-fw.fa-instagram
            // Footer About Text
            .col-lg-4
                h4.text-uppercase.mb-4 About Me
                p.lead.mb-0
                    | I am a Full Stack Developer with a passion for creating innovative solutions. Check out my 
                    a(href='https://github.com/yusufyusie', target='_blank') GitHub
                    |  for more projects.

                    // Copyright Section
div.copyright.py-4.text-center.text-white
    .container
        small Copyright &copy; Yesuf Fenta (yusufyusie) #{new Date().getFullYear()}

        // Projects Modals
        include includes/project-modal-1.pug
        include includes/project-modal-2.pug
        include includes/project-modal-3.pug
        include includes/project-modal-4.pug
        include includes/project-modal-5.pug
        include includes/project-modal-6.pug

// Scripts
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
script(src='js/scripts.js')